html, body{
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}

.div1{
    border-color: rgba(5, 5, 5, 0.789);
    border-width: 10px;
    border-style: solid;
    border-radius: 500px 1000px;
    box-sizing: border-box;
    box-shadow: 10px 20px 50px 100px rgba(82, 3, 230, 0.589), 50px 20px 5px red;
    text-shadow: 10px 10px 5px blueviolet;

}

.div2{
    font-size: 50px;
    margin-right: 10px;
    display: inline-block;
}

.div3{
    display: inline-block;
    margin-left: 10px;
}