html, body{
    --color_fondo : cyan;

    width: 100%;
    height: 100%;
    /*background-image: url("../images/background.jpg");*/
    /* background-image: linear-gradient(20deg, red, blue,yellow); */
    /* background-image: radial-gradient(circle at 0 0, red, blue); */
    background-repeat: no-repeat;  
    background-size: cover;
    /*background-color: var(--color_fondo);*/
    background-blend-mode: multiply;


}

.div1{
    width: 300px;
    height: 300px;
    border-color: rgba(5, 5, 5, 0.789);
    background-color: red;
    border-width: 10px;
    border-style: solid;
    box-sizing: border-box;
    transition: all 2s ease-in-out;

}

.div1:hover{
    background-color: aqua;
    border-radius: 100%;
}

.div2{
    font-size: 50px;
    margin-right: 10px;
    display: inline-block;
}

.div3{
    display: inline-block;
    margin-left: 10px;
}

a{
    text-decoration: none;
}

a:active{
    color: chartreuse;
}



a:visited{
    color: red;
}

p::selection{
    background-color: black;
    color: white;
}